/* tables */
table.tablesorter {
#	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 0.8em;
	font-family:"Courier New",Monospace;
	font-size: 12px;
	font-weight:bold;
	background-color: #CDCDCD;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #BDD2FF;
	color:			#13a;
	border: 1px solid #FFF;
	padding: 6px 16px 6px 6px;

}
table.tablesorter thead tr .header {
	background-image: url(blue/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(blue/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(blue/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
