
{{each(feature, list) $data}}
    {{each(t, term) list}}
	    <tr>
    	    <td>
    	        <div>
    	            <a class="evidence" href="${wa.viewHelper.go_link(term.accession)}" >
    	            
        	        » ${term.name}
    	            </a>
        	        <div class="tooltip">
        	            
        	            <div><h2>
            	            <a href="${wa.viewHelper.go_link(term.accession)}" >
                                ${term.cv.name} / ${term.name} 
                	        </a>
                	        </h2>
            	        </div>
        	            
        	            <div>Evidence : </div>
        	            
        	            <div style="float:right;"><img src="${wa.viewHelper.img(term.props)}" border="0" ></div>
        	            
        	            <div>
        	            {{each(p,prop) term.props}}
            	            {{if prop.type.name=="evidence"}}
            	                &raquo;  ${prop.value} 
            	            {{/if}}
            	        {{/each}}
            	        </div>
            	        
            	        <div>
            	        {{each(d,dbxref) term.dbxrefs}}
            	            <i>to</i> <span data-bind="template: {name:'dbxref', data: dbxref } " ></span> 
            	        {{/each}}
            	        
            	        {{each(pu,pub) term.pubs}}
            	            <i>based on</i> <a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=PubMed&dopt=Abstract&list_uids=${pub.accession}">${pub.uniqueName}</a> 
            	        {{/each}}
            	        </div>
        	            {{if term.count > 1 }}
        	                (<a href="${wa.viewHelper.go_others_link(term.name, term.cv.name, feature)}">${term.count} others)
        	            {{/if}}
    	                
                    </div>
                </div>
    	    </td>
    	</tr>
	{{/each}}
{{/each}}

