 

<table>{{each(feature,orthologue_list) orthologues}}
    
    {{each(o,orthologue) orthologue_list}}
        
        
        
        {{if orthologue.orthologyType == 'protein_match'}}
            <tr>
        
            {{if first_element("cluster_orthologue") }}
	            
	                <th valign="top">Clusters</th>
	        {{else}}
	               <td>&nbsp;</td>
            {{/if}}
            
            
            <td>
                
                <div class="absolute_tool">
                   &raquo; <a href="${baseLinkURL}/Query/proteinMatchClusterOrthologue?clusterName=Trypanosoma:ORTHOMCL4223&extraParam=extraExtra"  > ${orthologue.uniqueName} </a> <br>
                    <div class="relative_block_tooltip" >
                    {{each(c,cluster_orthologue) orthologue.cluster}}
                        &raquo; <a href="${baseLinkURL}gene/${cluster_orthologue.uniqueName}">${cluster_orthologue.uniqueName}</a> <br>
                    {{/each}}
                    </div>
                </div>
            </td>
            
            
            </tr>
            
        {{/if}}
        
    {{/each}} 
    
        <tr><th>&nbsp;</th></tr>
        
        <tr>
	        {{each(o,orthologue) orthologue_list}}
                {{if orthologue.orthologyType == 'polypeptide'}}
                    {{if first_element("manual_orthologue") }}<th valign="top">Manually Curated</th>{{/if}}
                {{/if}}
            {{/each}} 
	        <td>{{each(o,orthologue) orthologue_list}}
	                {{if orthologue.orthologyType == 'polypeptide'}}
	                   &raquo;   <a href="${baseLinkURL}gene/${orthologue.uniqueName}">${orthologue.uniqueName}</a> <br>
	                {{/if}}
	            {{/each}}
	        </td>
        </tr>
     
    
{{/each}}
</table>